<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <form action="/display_puppy" method="post">
      <p><input type="text" name="name"></p>
    </form>
  </body>
</html>
